$claret: #8B1E3F;
$dark-purple: #3C153B;
$eton-blue: #89BD9E;
$gold-crayola: #F0C987;
$champagne-pink: #F9E5DC;
$cinnabar: #DB4C40;

$title-font: 'DM Serif Display', serif;
$body-font: 'Roboto', sans-serif;
